/*Universal*/
.wd100P { width: 100%; }
.wd120 { width: 120px; }
.wd200 { width: 200px; }
.wd500 { width: 500px; }
.wd35P { width: 35%; }
.wd-auto { width: auto; }

.ht20 { height: 20px; }
.ht25 { height: 25px; }
.ht30 { height: 30px; }
.ht34 { height: 34px; }
.ht35 { height: 35px; }
.ht50 { height: 50px; }
.ht60 { height: 60px; }
.ht70 { height: 70px; }
.ht80 { height: 80px; }
.ht100 { height: 100px !important; }
.ht120 { height: 120px; }
.ht150 { height: 150px !important; }
.ht151 { height: 151px !important; }
.ht230 { height: 230px; }
.ht400 { height: 400px !important; }
.ht500 { height: 500px !important; }

.mgt-5 { margin-top: -5px; }
.mg0 { margin: 0; }
.mgt0 { margin-top: 0px; }
.mgt3 { margin-top: 3px; }
.mgt5 { margin-top: 5px; }
.mgt10 { margin-top: 10px; }
.mgt15 { margin-top: 15px; }
.mgt20{ margin-top: 20px; }
.mgt29{ margin-top: 29px; }
.mgt30 { margin-top: 30px; }
.mgt35 { margin-top: 35px; }
.mgt40 { margin-top: 40px; }
.mgt50 { margin-top: 50px; }
.mgt60 { margin-top: 60px; }
.mgt70 { margin-top: 70px; }
.mgb0 { margin-bottom: 0px; }
.mgb5 { margin-bottom: 5px; }
.mgb10 { margin-bottom: 10px; }
.mgb20 { margin-bottom: 20px; }
.mgb25 { margin-bottom: 25px; }
.mgb30 { margin-bottom: 30px; }
.mgb40 { margin-bottom: 40px; }
.mgl5 { margin-left: 5px; }
.mgl10 { margin-left: 10px; }
.mgl20 { margin-left: 20px; }
.mgl30 { margin-left: 30px; }
.mgl35 { margin-left: 35px; }
.mgr10 { margin-right: 10px; }
.mgr15 { margin-right: 15px !important; }
.mgr20 { margin-right: 20px; }
.mgr30 { margin-right: 30px !important; }
.mgv0 { margin-top: 0px; margin-bottom: 0px; }
.mgv5 { margin-top: 5px; margin-bottom: 5px; }
.mgv10 { margin-top: 10px; margin-bottom: 10px; }
.mgv15 { margin-top: 15px; margin-bottom: 15px; }
.mgv20 { margin-top: 20px; margin-bottom: 20px; }
.mgv30 { margin-top: 30px; margin-bottom: 30px; }
.mgv40 { margin-top: 40px; margin-bottom: 40px; }
.mgv50 { margin-top: 50px; margin-bottom: 50px; }
.mgv100 { margin-top: 100px; margin-bottom: 100px; }
.mgh0 { margin-right: 0; margin-left: 0; }
.mgh5 { margin-right: 5px; margin-left: 5px; }
.mgh15 { margin-right: 15px; margin-left: 15px; }
.mg-auto { margin: 0 auto; }
.mgr0 { margin-right: 0;}
.mgl0 { margin-left: 0;}

.pd0 { padding: 0 !important; }
.pd5 { padding: 5px !important; }
.pd10 { padding: 10px !important; }
.pd15 { padding: 15px !important; }
.pd20 { padding: 20px !important; }
.pd30 { padding: 30px !important; }
.pd45 { padding: 45px !important; }
.pdt5 { padding-top: 5px; }
.pdt7 { padding-top: 7px; }
.pdt10 { padding-top: 10px; }
.pdt15 { padding-top: 15px; }
.pdt30 { padding-top: 30px; }
.pdt40 { padding-top: 40px; }
.pdt100 { padding-top: 100px; }
.pdt200 { padding-top: 200px; }
.pdb10 { padding-bottom: 10px; }
.pdb15 { padding-bottom: 15px; }
.pdb20 { padding-bottom: 20px; }
.pdb40 { padding-bottom: 40px; }
.pdb50 { padding-bottom: 50px; }
.pdl0 { padding-left: 0 !important; }
.pdl25 { padding-left: 25px !important; }
.pdl30 { padding-left: 30px !important; }
.pdr0 { padding-right: 0; }
.pdr3 { padding-right: 0; }
.pdh0 { padding-left: 0; padding-right: 0; }
.pdh5 { padding-left: 5px !important; padding-right: 5px !important; }
.pdh10 { padding-left: 10px !important; padding-right: 10px !important; }
.pdh15 { padding-left: 15px !important; padding-right: 15px !important; }
.pdh20 { padding-left: 20px; padding-right: 20px; }
.pdh30{ padding-left: 30px !important; padding-right: 30px !important; }
.pdh45{ padding-left: 45px !important; padding-right: 45px !important; }
.pdh45 { padding-left: 45px; padding-right: 45px; }
.pdv0 { padding-top: 0px !important; padding-bottom: 0px !important; }
.pdv5 { padding-top: 5px !important; padding-bottom: 5px !important; }
.pdv10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.pdv15 { padding-top: 15px; padding-bottom: 15px; }
.pdv20 { padding-top: 20px; padding-bottom: 20px; }
.pdv30 { padding-top: 30px; padding-bottom: 30px; }
.pdv50 { padding-top: 50px; padding-bottom: 50px; }
.pdv100 { padding-top: 100px; padding-bottom: 100px; }
.pdv200 { padding-top: 200px; padding-bottom: 200px; }

.dp0 { display: none; }
.dp-il { display: inline; }
.dp-bl { display: block; line-height: 1; }

.fs10 { font-size: 10px; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs17 { font-size: 17px; }
.fs20 { font-size: 20px; }
.fs25 { font-size: 25px; }
.fs30 { font-size: 30px; }
.fs40 { font-size: 40px; }
.fs45 { font-size: 45px; }
.fs60 { font-size: 60px; }

.ff-source-sans {
	font-family: Source Sans Pro;
}

.fw300 { font-weight: 300; }
.fw800 { font-weight: 800; }

.pointer { cursor: pointer; }

/*Fixed*/
body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #333333;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  color: #0085A1 !important;
  text-decoration: none;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}

/*Custom*/
.create-input {
	background: transparent;
	box-shadow: none;
	border: none;
	border-bottom: solid 2px #ccd0d2;
	border-radius: 0;
}
.create-input:focus {
	box-shadow: none;
}
.navigation li:not(:first-child) {
    border-left: solid 1px #ccc;
}
.navigation li {
	padding: 0 20px;
}
.navbar-custom {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  margin-bottom: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border: transparent;
  }
  .navbar-custom .navbar-brand {
    color: #333;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom .nav li a {
    color: #333;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: #0085A1;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.intro-header {
  position: relative;
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

